<!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">What's the Music Library? | <small>  About the platform</small></h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

         <div class="col-md-4">
                <h3>What's the purpose</h3>
                <p>The ideia in this project it's to try use my Rails skills earned in my exchange to make a website which have database associations and a good view.</p><br>

                <p>That project it's very simple, but it have a great back-end knowledge behind the pages. You can saw this in that code. My purpose in the next months it's to try to put more information about the artists and their albums, such as reviews and cover images.  </p>

            </div>

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x300" alt="">
            </div>


        </div>
        <!-- /.row -->

        <!-- Related Projects Row 
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Last Albums Added</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->